includes:
    - phpstan-baseline.neon

parameters:
    paths:
        - src

    level: 9

    tmpDir: build/phpstan

    # ignoreErrors:
    #     -
    #         identifier: missingType.generics
    #     -
    #         identifier: missingType.iterableValue
